{% extends 'html/base.html' %}

{% block content %}
    <div class="container">
        <h1>Modificar Tarea</h1>
        <div class="modify_task">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Guardar</button>
            </form>
            <div>
                <h4>
                    <a href="{% url 'task_list' %}">volver</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %} 