{% extends 'html/base.html' %}

{% block content %}
    <div class="container">
        <div class="form-container">
            <h2>Registro</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Registrarse</button>
            </form>
            <div>
                <h4>
                        <a href="{% url 'index' %}">Volver al inicio.</a>
                </h4>
                <h4> Estas registrado? 
                    <a href="{% url 'login' %}">Inicia de sesión</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %} 